*{
    margin: 0;
    padding: 0;
}

/* Shared Styles */
/* font */

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.btn-primary{
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 8px;
    padding: 12px 36px;
}
.btn-primary:hover{
    background-color: orange;
    color: black;
}

.bg-color{
    background: linear-gradient(white, #D6DDED)
}

/* header */
header{
    border: 1px solid transparent;
    background-image: url('../Assets/Hero-bg.png');
}
/* Nav bar */
nav{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 50px auto;
}
.logo{
    color: #4E47FF;
    font-weight: bold;
    font-size: 34px;
}

/* hero section */
.hero{
    max-width: 60%;
    margin: 160px auto;
    text-align: center;
}
.hero-title{
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 35px;
}

/* main */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* action sectoin */
.action{
    margin: 116px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-img{
    height: 330px;
    width: 400px;
    background-image: url('../Assets/wc-mini.png');
    border-radius: 48px;
}

.action-content{
    max-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
}
.action-description{
    font-size: 22px;
    font-weight: normal;
    color: rgba(37, 36, 50, 0.5);
}

/* productive-users section */

.productive-users{
    padding: 50px 80px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 25px;
    text-align: center;
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}
.user-data{
    display: flex;
    justify-content: space-between;
}
.user-number{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}
.user-description{
    font-size: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
}

/* feedback section */
.feedback{
    margin: 135px auto;
}
.feedback-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 50px;
}

.card-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.card{
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(147, 139, 139, 0.29);
    border-radius: 14px;
    padding: 24px;
}
.card-title{
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 24px;
    font-weight: bold;
}
.card-description{
    font-weight: normal;
    color: #1E1E1E;
}


.user-info{
    display: flex;
    gap: 12px;
    margin-top: 24px;
}
.user-avatar{
    border-radius: 50%;
}
.name{
    margin-bottom: 2px;
    font-weight: bold;
    color: #757575;
}
.date{
    color: #B3B3B3;
}